/* Styling settings for website */
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Rakkas&family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://use.typekit.net/wwh3cms.css");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --logo-font: "Rakkas", serif;
  --text-font: "Abel", cursive, sans-serif;
  --flow-text: "Source Code Pro", monospace;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

/* Nav start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f;
  min-height: 8vh;
  padding-left: 6rem;
  padding-right: 6rem;
  font-family: var(--text-font);
  font-weight: 200;
  z-index: 1000;
}

.logo {
  text-transform: uppercase;
  font-family: var(--logo-font);
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}

.logo a {
  text-decoration: none;
  color: whitesmoke;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  background-color: whitesmoke;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Mobile and tablet view */
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  nav {
    position: fixed;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1000;
    overflow-x: hidden;
  }

  .nav-links li {
    opacity: 0;
  }

  .hamburger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }
}

@keyframes linksOpacity {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .burger1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger2 {
  opacity: 0;
}

.toggle .burger3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Nav ends */

/* Display only in mobile */
.mobile-full-width-image {
  display: none;
}

/* Parallax */
header {
  position: relative;
  /* background-color: black; */
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent 20%);
  z-index: 1000;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header img.front {
  z-index: 10;
}

header img.fishes {
  z-index: 11;
}

.header_text {
  position: absolute;
  color: whitesmoke;
  font-family: var(--logo-font);
  text-transform: uppercase;
  font-size: 6rem;
  white-space: nowrap;
  z-index: 9;
}

.parallax-wrapper {
  position: relative;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: black;
  text-align: center;
}

.parallax-wrapper .des-text {
  font-family: var(--text-font);
  font-size: 4rem;
  font-weight: 200;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.menu-button {
  background-color: black;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  padding-top: 4rem;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-family: var(--flow-text);
  font-size: 1rem;
  cursor: pointer;
}

.menu-button:hover {
  background-color: whitesmoke;
  color: #0f0f0f;
}

/* Parallax end */

/* Grid placement and size */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-wrap,
.img-wrap-two,
.img-wrap-contact {
  overflow: hidden;
  height: 0;
  padding: 55% 0;
  position: relative;
}

.img-wrap img,
.img-wrap-two img,
.img-wrap-contact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Grid placement and size end */

/* Wrapper one start */
.wrapper-one,
.wrapper-contact,
.wrapper-two {
  padding: 6rem;
}

.wrap-1,
.wrapper-two,
.wrapper-contact {
  padding-right: 6rem;
}

.header-text-wrapper {
  font-family: var(--text-font);
  line-height: 1;
  text-align: center;
  color: #0f0f0f;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 50%;
  margin-bottom: 1rem;
}

.text-wrapper-one {
  font-family: var(--flow-text);
  font-weight: 200;
  text-align: center;
}

/* Wrapper one end */

/* Wrapper two start */
.wrap-two-1 {
  padding-left: 6rem;
}

/* Wrapper two end */

/* Cover image */

.full-width-image,
.mobile-full-width-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.full-width-image img,
.mobile-full-width-image img {
  width: 100%;
  display: block;
}

/* Cover end */

.location {
  background-color: #d83c3c;
  text-align: center;
  color: whitesmoke;
  font-family: var(--text-font);
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.loacation-text {
  font-size: 3rem;
}

.footer {
  padding: 1rem;
}

.footer p {
  text-transform: uppercase;
  font-family: var(--logo-font);
  text-align: center;
}

/* Take me to top */
.transfer-me {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
}

.transfer-me {
  background-color: #555;
}

/* End take me to top */

/* Style for menu page */

.menu {
  background-color: #d83c3c;
  font-family: var(--text-font);
  text-align: center;
  color: whitesmoke;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.menu-text {
  font-size: 3rem;
}

.ul-list {
  list-style-type: none;
}

.menu-headers {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.food-options {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.price {
  margin-bottom: 1rem;
}

/* End style for menu page */

/* Style for contact and thanks page */

input[type="text"],
select,
textarea {
  font-family: var(--text-font);
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submit[type="submit"] {
  font-family: var(--text-font);
  font-size: 1rem;
  background-color: black;
  border: 2px solid black;
  color: whitesmoke;
  padding: 10px 32px;
  cursor: pointer;
  width: 100%;
}

.submit[type="submit"]:hover {
  background-color: #222222;
  border: 2px solid #222222;
  color: whitesmoke;
}

.form-container {
  font-family: var(--text-font);
  border-radius: 4px;
  padding: 20px;
}

.contact-us {
  text-align: center;
  font-family: var(--text-font);
  padding-top: 4rem;
  font-size: 3rem;
}

.thanks {
  font-family: var(--text-font);
  text-align: center;
  font-size: 3rem;
  padding-top: 50%;
}

.thanks-button {
  background-color: black;
  border: 2px solid black;
  color: whitesmoke;
  padding-top: 4rem;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-family: var(--flow-text);
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 1rem;
  text-decoration: none;
}

.thanks-button:hover {
  background-color: #222222;
  border: 2px solid #222222;
  color: whitesmoke;
}

.wrap-form {
  padding-left: 2rem;
}

.wrap-form a {
  text-decoration: none;
}

/* End style for contact and thanks page */

/* Tablet view */
@media screen and (max-width: 1024px) {
  /* Hide parallax header */
  header {
    display: none;
  }

  /* Full-width image only displayed in tablet and mobile */
  .mobile-full-width-image {
    display: block;
  }

  /* Padding for text in article */
  .centered {
    padding: 6rem;
  }

  /* Reverse order of CSS grid */
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-container .wrap-1:nth-of-type(1) {
    order: 2;
  }

  /* End reverse order of CSS grid */

  /* Mobile style for wrapper-one */

  .wrapper-one {
    padding: 0rem;
  }

  .wrap-1 {
    padding-right: 0rem;
  }

  .text-wrapper-one {
    margin-bottom: 4rem;
  }

  .header-text-wrapper {
    margin-top: 4rem;
  }

  .mobile-full-width-image img {
    margin-top: 8vh;
  }

  /* Tablet/mobile style for wrapper-one */

  /* Mobile image sizing */
  .full-width-image,
  .mobile-full-width-image {
    height: 100%;
  }

  /* End mobile image sizing */

  /* Mobile style for wrapper-two */
  .wrapper-two {
    padding: 0rem;
  }

  .wrap-two-1 {
    padding-left: 0rem;
  }

  .grid-container .img-wrap-two:nth-of-type(1) {
    order: 2;
  }

  /* End tablet/mobile style for wrapper-two */

  /* Menu page */
  .menu {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }

  /* Contact page */
  .wrapper-contact {
    padding: 0rem;
  }

  .wrap-form {
    padding: 6rem;
  }

  .form-container {
    padding: 2rem;
  }

  .grid-container .img-wrap-contact:nth-of-type(1) {
    order: 2;
  }

  /* Thank you page */
  .thanks {
    padding-top: 6rem;
  }
}

/* Only displayed in mobile view */
@media screen and (max-width: 768px) {
  .loacation-text {
    font-size: 2rem;
  }

  .centered {
    padding: 2rem;
  }

  .parallax-wrapper .des-text {
    font-size: 2.5rem;
  }

  .menu h1 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
  }

  .wrap-form {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
  }

  .thanks {
    padding-top: 4rem;
  }
}
